<?xml version="1.0" encoding="utf-8"?>
<!--configuration-->
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <!--                                                Environments URLs                                -->
    <!--add key="URL" value="http:stellar11/User/dashboard.aspx" /-->
    <add key="URL" value="http://stellar11:82/User/dashboard.aspx" />
    <!--                                                Browsers                                         -->
    <add key="Browser" value="CR" />
    <!--                                              Browser Path                                         -->
    <add key="Path" value="D:\\chromedriver_win64" />
    <!--add key="Path" value="D://geckodriver-v0.20.0-win64" /-->
   
    <!--                                               credentials for adviser                         -->
    <!--add key="ADUserName" value="FP20022018SL"/-->
    <add key="Adviser" value="FP040618" />
    <add key="Advpswd" value="Ld9+p?" />
    <!--add key="ADUserName" value="FP07WARSL"/>
     <add key="ADpswd" value="H+i78tB?F?c"/-->
    <!--                                               Credentials for  ParaPlanner                         -->
    <!--add key="ParaPlanner" value="FP15March18PP" /-->
    <add key="ParaPlanner" value="FP10052018PP" />
    
    <!--add key="PPname" value="FP20022018PPSL"/-->
    <!--add key="PPpswd" value="5t+Bw?" /-->
     <add key="PPpswd" value="5c?Xw+" />
    <!--add key="PPname" value="FP070218-PP-SL"/>
     <add key="PPpswd" value="j+8N4xS?cB+"/-->
    <add key="TxtFilename" value="Automation" />
    <!--                                               Credentials for Client                         -->
    <add key="C_USERNAME" value="CL04June18" />
    <!--add key="CLIname1" value="SachT"/->

    <add key="CLIname2" value="Sachin"/-->
    <add key="C_GIVEN NAME" value="Prasad_Demo_Client" />
    
    
    
    <!--                                               Credentials for Add Adviser                         -->
    <add key="SA_Username" value="administrator" />
    <add key="SA_Passwrd" value="%password" />
    <add key="TxtNumber" value="007" />
    <add key="Adv_UserName" value="FP040618AR4" />
    <add key="GivenName" value="Swap4JuneA" />
    <add key="Surname" value="Lan" />
    <add key="Email" value="swapnil.landge@stellarconsultants.co.in" />
    <!--                                               Credentials for Add Client                         -->
    <add key="ARC" value="FP040618AR4" />
    <add key="Pswd" value="Ja8?+3T" />
    <add key="Gnc" value="Swap04JuneA" />
    <add key="Sn" value="Test4J6" />
    <add key="Email1" value="swapnil.landge@stellarconsultants.co.in" />
    <add key="Un" value="CL04June18" />
    <add key="SA" value="Ten" />
    <!--                                               Credentials for Add ParaPlanner                         -->
    <add key="PPtxtUserName" value="FP11April18PP" />
    <add key="PPgn" value="PP11A" />
    <add key="PPsn" value="Tes11A" />
    <add key="PPE" value="swapnil.landge@stellarconsultants.co.in" />
    <add key="Phone" value="0456789423" />
    <!--                                               Credentials for Link Adviser with ParaPlanner                         -->
    <add key="EDUserName" value="FP11April18AR" />
    <add key="PPName" value="Raja" />
    <add key="Mobile" value="0415763475" />
    <add key="EPPGname" value="Swap11A" />
    <add key="EPPSname" value="Lan11A" />
    
    <!--                                               Credentials for Search Adviser                         -->
    <!--add key="SUserName" value="FP07WARSL"/-->
    <add key="SUserName" value="FP040618AR4" />
    <!--add key="SGivenName" value="Adv_Swap"/-->
    <add key="SGivenName" value="Swap4JuneA" />
    <!--                                               Credentials for Search Paraplanner                         -->
    <add key="SPUserName" value="FP11April18AR" />
    <!--add key="SUserName" value="FP07WARSL"/-->
    <add key="SPGivenName" value="PP11A" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    
      <!--                                               Credentials for External Adviser                         -->
    <!--add key="EX_Adviser" value="Swap17 Lan17" /-->
     <add key="EX_Adviser" value="Swap17 Lan17" />
    
    
    <!--                                               CashFlow Data Validate                                         -->
    <add key="expectedResultCFD1" value="Stategy Test on 5 March 2018" />
    <add key="expectedResultCFD2" value="Outcome Test on 5 March" />
    <add key="expectedResultCFD3" value="Test on 5'18.0" />
    <!--                                               InsuranceCover Data Validate                                         -->
    <add key="expectedResultICD1" value="Stategy Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD2" value="Outcome Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD3" value="Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD4" value="Stategy Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD5" value="Outcome Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD6" value="Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD7" value="Stategy Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD8" value="Outcome Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD9" value="Test for Personal Risk Cover on 5 March 2017" />
    <add key="expectedResultICD10" value="Stategy Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD11" value="Outcome Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD12" value="Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD13" value="Stategy Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD14" value="Outcome Test for Personal Risk Cover on 5 March 2018" />
    <add key="expectedResultICD15" value="Test for Personal Risk Cover on 5 March 2018" />
    <!--add key="expectedResultICD4" value=" Test on 5 March 2018"/-->
    <!--add key="expectedResultICD9" value="Underlying investments on 5 March 2018"/-->
    <!--                                               Insurance Cover Questions Validate                                         -->
    <add key="expectedResultICQ1" value="Yes" />
    <add key="expectedResultICQ2" value="No" />
    <add key="expectedResultICQ3" value="No" />
    <!--                                               Super Data Validate                                         -->
    <add key="expectedResultSQ1" value="Stategy for Super 1 March" />
    <add key="expectedResultSQ2" value="Outcome Test for Super on 5 March 2018" />
    <add key="expectedResultSQ3" value="Test for Super on 1 March 2018" />
    <add key="expectedResultSQ4" value="Test on 5 March 2018" />
    <add key="expectedResultSQ9" value="Underlying investments on 5 March 2018" />
    <!--                                               Super Questions Validate                                         -->
    <add key="expectedResultSQ5" value="Yes" />
    <add key="expectedResultSQ6" value="Ronald" />
    <add key="expectedResultSQ7" value="No" />
    <add key="expectedResultSQ8" value="STR007" />
    <add key="expectedResultSQ10" value="No" />
    <add key="expectedResultSQ11" value="Not Specified" />
    <!--                                               Investments Questions Validate                                         -->
    <add key="expectedResultINVQ5" value="Checklist Attached" />
    <add key="expectedResultINVQ6" value="Stategy Test....Investment 28 Feb 2018" />
    <add key="expectedResultINVQ7" value="Outcome Test for Investment 28 Feb 2018" />
    <add key="expectedResultINVQ8" value="Test for Investment 28 Feb 2018" />
    <add key="expectedResultINVQ9" value="INVESTMENT 28 Feb 2018" />
    <add key="expectedResultINVQ10" value="Cheque on 5 March 2018" />
    <add key="expectedResultINVQ11" value="28" />
    <add key="expectedResultINVQ12" value="Personal" />
    <add key="expectedResultINVQ13" value="No" />
    <!--                                               Estate Planning Questions Validate                                         -->
    <add key="expectedResultEP1" value="Stategy Test for EP 5 March 2018" />
    <add key="expectedResultEP2" value="Outcome Test for EP 5 March 2018" />
    <add key="expectedResultEP3" value="1Test is going on for EP 5 March 2018" />


    <!--                                              Smart SOA Questions Validate                                         -->
    <add key="expectedResultSSOAFP1" value="Stategy Test on 5 March 2018" />
    <add key="expectedResultSSOAFP2" value="Outcome Test on 5 March" />
    <add key="expectedResultSSOAFP3" value="1Test on 5'18" />
    
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>